<% if logged_in? %>
<div class="row">
  <aside class="col-sm-4">
   
</div>
  </aside>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>タスク</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.content, task %></td>
          <td><%= task.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @tasks %>
  </div>
<%= link_to 'タスクの追加', new_task_path, class: "btn btn-primary" %>
<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Tasklists</h1>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    <%= link_to 'Log In', login_path, class: 'btn btn-lg btn-warning' %>
  </div>
</div>
<% end %>


